
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: bisque;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
   text-align: center;
   font-size: 2em;
   color:red;
}
.gameboard {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    gap: 5px;
}

.cell {
    
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgb(90, 191, 87);
    width:100px;
    height: 100px;
}


#restart{
    padding: 10px;
    margin: 2px;
    font-weight: 600;
    color:brown;
    font-size: 18px;
    border: 1px solid black ;
    border-radius: 10px;
    display: block; 
    margin: 0 auto; 
    cursor: pointer;
}

.active{
   display:flex;
   align-items: center;
   justify-content: center;
    border: 1px solid black;
    color:rgb(63, 58, 110);
    font-size: 3rem;
    width:100px;
    height: 100px;
}
.matched{
    color:green;
    border: 10px solid  rgb(89, 200, 89);
    pointer-events: none;
}
.message{
    font-weight: 800;
    font-style: bold;
    font-size:20px;
}
