@layer layout{
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
        
    }

    body{
        height:100vh;
        width: 100%;
        background-color: #EBE1D1;
    }

    .head{
        padding:10px;
        font-style: bold;
        text-align: center;
        font-size: 20;
        color:#fff;
        height:7%;
        width:100%;
        background-color: #5A7863;
    }
    .container{
        height:93%;
        width:100%;
    }
    .nav-btns{
        justify-content: center;
        display: flex;
        flex-direction: row;
        padding:10px;
        margin:10px;
        border-radius: 20px;
        
    }

    .main-table{
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .nav-btns ul {
        display: grid;
        grid-template-columns:  1fr 1fr 1fr 1fr 1fr ;
        list-style: none;
        margin:10px;
    }
    .nav-btns a{
        text-decoration: none;
    }
    .data-grid{
        padding: 10px;
        margin:10px;
        align-items: baseline;
        border-collapse: collapse;

    }
    .data-grid th,tr, td{
        border:1px solid black;
        padding: 10px;
        
    }
    .form-container{
        
        padding:10px;
        margin:10px;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    .forms{
        justify-content: center;
        border: 1px solid #000;
        margin:10px 10px 10px 10px;
    }
    .forms h1{
        font-style: bold;
        text-align: center;
        font-size: 20px;
    }
    .forms label{
        font-weight: 600;
        font-style: bold;
        padding:5px;
        
    }
    .forms input[type="number"],input[type="text"] , select{
        margin:10px;
        padding:5px;
        width:90%;
    }
    .forms input[type="checkbox"]{
        margin:10px;
    }
    .submit-btn{
        font-weight: 700;
        border: 1px solid #fff ;
        border-radius: 10px;
        padding:10px;
        margin:10px;
        color:#fff;
        background-color: #7c9e86;
    }
    .reset-btn{
    font-weight: 700;
        border: 1px solid #fff ;
        border-radius: 10px;
        padding:10px;
        margin:10px;
        color:#fff;
        background-color: #7c9e86;
    }
    /* .form-container{
        display: none;

    }
    .form-container.expand{
        display: flex;
    } */
    .form-container.collapsed{
    display: flex;
    }

}
